

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color:#D5D9DB;
	letter-spacing:1px;
	font-family: 'Ubuntu', sans-serif;
}

p {
	line-height: 1.3em;
	font-size:1.3em;
}

footer p {
	font-size:.6em;
}
















